main {

    background-color: antiquewhite;

    h1 {
    display: flex;
    margin: auto;
    color: black;
    justify-content: center;
    font-size: 2em;
    padding: .5em;
    }
   

    h2 {
        display: flex;
        margin: auto;
        color: black;
        justify-content: center;
        font-size: 2em;
        padding: .5em 0 1em 0;
    }

    h3 {
        display: flex;
        margin: auto;
        color: black;
        justify-content: center;
        font-size: 2em;
        padding-bottom: 2em;
    }

    article {
        display: flex;
        margin: auto;
        justify-content: center;
        color: black;
        padding: .5em;
    }

    section img {
        width: 1506px;
        height: 550px;
        display: flex;
        margin: auto;
        justify-content: center;
        padding: 1em;
    
        &:hover {
            cursor: pointer;
            border-radius: 3em;
            opacity: 50%;
        }
    }

    #lightbox {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }

    .show-lightbox { display: block;
     }

     div img {
        margin: auto;
        justify-content: center;

     }
}