main {

    background-image: url("/images/wallpaper.jpg");

    h1 {
    display: flex;
    margin: auto;
    font-family: 'Paytone One', sans-serif;
    color: black;
    justify-content: center;
    font-size: 4em;
    padding: .5em;
    }
   

    h2 {
        display: flex;
        margin: auto;
        font-family: 'Paytone One', sans-serif;
        color: black;
        justify-content: center;
        font-size: 3em;
        padding: 0 0 1em 0;
    }

    h3 {
        display: flex;
        margin: auto;
        color: black;
        justify-content: center;
        font-size: 2em;
        padding-bottom: 2em;
    }

    article {
        display: flex;
        margin: auto;
        justify-content: center;
        color: black;
        padding: .5em;
    }

    img {
        width: 550px;
        height: 400px;
        display: flex;
        margin: auto;
        padding: 1em;
    
        &:hover {
            cursor: pointer;
            border-radius: 3em;
            opacity: 40%;
        }
    }

    .extend {
        height: 400px;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .lightbox {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }

    .show-lightbox { display: block !important;
     }

     div img {
        margin: auto;
        justify-content: center;
     }

     
}